{{!-- Listado de las vacantes publicadas --}}
<main class="lista-vacantes">
	{{#if vacantes.length}}
		<h2>Lista de vacantes</h2>
		{{#each vacantes as |vacante|}}
			<div class="vacante">
				<div class="caja">
					<h3>{{vacante.empresa}}</h3>
					<p class="puesto">{{vacante.titulo}}</p>
				</div>
				<div class="caja">
					<p class="etiqueta">Ubicación</p>
					<p class="nombre">{{vacante.ubicacion}}</p>
				</div>
				<div class="caja">
					<p class="etiqueta">Contrato</p>
					<p class="nombre contrato">{{vacante.contrato}}</p>
				</div>
				<div class="caja centrar-vertical">
					<a href="/vacantes/{{vacante.url}}" class="btn btn-verde">Saber más</a>
				</div>
			</div>
		{{/each}}
	{{else}}
		<h2>Aún no hay vacantes publicadas</h2>
	{{/if}}
</main>