{{!-- Formulario para subir o actualizar la imagen de perfil --}}
<!-- LOADER -->
<div class="loader-container d-none">
	<div class="mask" id="mask">
		<div class="loader">
			<div class="prespinner">
				<!-- <div class="spinner"></div> -->
			</div>
		</div>
	</div>
</div>
<main class="contenedor">
	<h3>Es recomendable que comprimas tu imagen usando <a href="https://tinypng.com/" target="_blank">TinyPng</a>, <a href="https://imagecompressor.com/es/" target="_blank">Optimizilla</a> o cualquier servicio que prefieras para que la carga sea más rápida y óptima</h3>
	<form method="post" id="subir-imagen-perfil" class="default-form" enctype="multipart/form-data">
		<div class="campo">
			<label>Imagen de perfil</label>
			<input type="file" name="imagen" id="img-uploader" required>
			{{#if usuario.imagen}}
				<img src="{{usuario.imagen}}" class="admin-perfil" 
					 id="perfil-actual" alt="Perfil" title="Imagen de perfil actual">
			{{else}}
				<img src="/img/user.png" class="admin-perfil" 
					 id="perfil-actual" alt="Perfil" title="Imagen por defecto">
			{{/if}}
		</div>
		<div class="campo">
			{{!-- BOTON QUE CARGA IMAGEN A CLOUDINARY --}}
			<button type="button" class="btn btn-azul" id="cargar-imagen">Cargar</button>
			{{!-- BOTON QUE SUBE LOS DATOS DE LA IMAGEN A MONGODB --}}
			<button type="button" class="btn btn-verde d-none" id="subir-imagen">Subir</button>
			{{!-- BOTON PARA CANCELAR LA SUBIDA Y ELIMINAR DE CLOUDINARY --}}
			<button type="button" class="btn btn-rojo d-none" id="cancelar-imagen">Cancelar</button>
			{{!-- <input type="submit" class="btn btn-azul" value="Subir"> --}}
		</div>
		<div class="progress-bar">
			<progress class="progressbar d-none" id="img-upload-bar" value="0" max="100"></progress>
		</div>
	</form>
</main>
{{#if imagenes.length}}
	<div class="contenedor">
		<h2>Tus imagenes cargadas</h2>
		<br>
		<h3>Doble click para ver lo que puedes hacer con la imagen</h3>
		<br>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				{{#each imagenes as |imagen|}}
					<img src="{{imagen.secure_url}}" class="swiper-slide" 
						 data-public-id="{{imagen.public_id}}">
				{{/each}}
			</div>
			<!-- si necesitamos paginacion -->
		    <div class="swiper-pagination"></div>
		    <!-- si necesitamos botones de paginacion -->
		    <!-- 
		    <div class="swiper-button-prev"></div>
		    <div class="swiper-button-next"></div>
			-->
		    <!-- si necesitamos scrollbar -->
		    <!-- <div class="swiper-scrollbar"></div> -->
		</div>
	</div>
{{else}}
	<br>
	<h2>Aún no tienes imagenes de perfil cargadas</h2>
	<br>
{{/if}}